* {
  font-family: "Oswald", sans-serif;
}
.carousel-item img {
  width: 100%;
  height: 100vh;
}
.navbar-nav {
  margin-left: 50%;
}
.white,
.white a {
  color: #fff;
}
.grayround {
  height: 150px;
  width: 150px;
  background-color: rgb(46, 42, 42);
}
a {
  text-decoration: none;
}
